body {
  background-color: black;
  background-image: url("../images/bookbackgound.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-wrapper .input-field input[type="search"] {
  height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem);
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 56px;
  height: auto;
}
nav .nav-wrapper {
  position: relative;
  height: 100%;
}
