body {
  background-color: black;
  background-image: url("../images/bookbackgound.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input[type="text"] {
  display: flex;
  margin: auto;
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../images/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 50%;
}

.modal-body {
  max-height: calc(100% - 120px);
  overflow-y: scroll;
}

.modal-content {
  height: 90%;
}

@media screen and (max-width: 980px) {
  body {
    width: 100%;
  }

  h1 {
    text-align: center;
  }
  #ourNames {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  h1 {
    text-align: center;
  }
  #ourNames {
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  body {
    width: 100%;
  }

  h1 {
    text-align: center;
  }
  #ourNames {
    text-align: center;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(190, 128, 13);
  text-align: center;
  margin: 1em 0 1em 3.3em;
  font-weight: 600;
  font-size: 100px;
  text-shadow: black;
}
#ourNames {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 14em;
  color: white;
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}
