body {
  background-color: black;
  background-image: url("../images/bookbackgound.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background: rgba(204, 204, 204, 0.6);
}

.display-4,
.lead {
  color: darkblue;
  text-align: center;
}

input[type="text"] {
  display: flex;
  margin: auto;
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../images/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 50%;
}

.modal-body {
  height: 20em;
  overflow-y: auto;
}

@media screen and (max-width: 980px) {
  body {
    background-color: #333;
  }

  .wrapper {
    width: 600px;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: #333;
  }

  .wrapper {
    width: 600px;
  }
}

@media screen and (max-width: 640px) {
  body {
    background-color: #333;
    background-image: none;
  }

  .wrapper {
    width: 600px;
  }
}
